<div class="text-center pt-5">
    <h1 class=" my-4 text-white title">ログイン</h1>
</div>
<section class="row">
    <div class="col-6 m-auto">
        <br><br>
        <hr>
        <div class="card mt-5">
            <div class="card-body">
                <%= form_for(:session, url: sessions_path(current_user)) do |f| %>

                    <%= f.label :email,"メールアドレス" %>
                    <%= f.email_field :email, class: "form-control" %>

                    <%= f.label :password,"パスワード" %>
                    <%= f.password_field :password, class: "form-control" %>

                    <br>
                    <%= f.submit "ログインする", class: "btn btn-outline-dark bg-color btn-block" %>
                <% end %>
            </div>
        </div>
    </div>
</section>
<div class="text-center mt-5">
    <p>
        アカウントをお持ちでない方は<span class="orange"><%= link_to "こちら", new_user_path %></span>
    </p>
</div>
