<div class="row">
    <div class="col-6 m-auto">
        <hr>
        <div class="card">
            <div class="card-body">
                <div class="form-group">
                    <%= form_for @user do |f| %>
                    <%= render "error_messages" %>
                        <%= f.label :name, "名前" %>
                        <%= f.text_field :name, class: "form-control" %>

                        <%= f.label :email, "メールアドレス" %>
                        <%= f.email_field :email, class: "form-control" %>

                        <%= f.label :password, "パスワード" %>
                        <%= f.password_field :password, class: "form-control" %>

                        <%= f.label :password_confirmation, "確認用パスワード" %>
                        <%= f.password_field :password_confirmation, class: "form-control" %>

                        <br>
                        <%= f.submit btn_name, class: "btn btn-outline-dark bg-color btn-block" %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
