<section class="container pt-5">
    <div class="row mb-4 mx-5 mt-5">
        <div class="col-12 col-md-6 p-5 bg-white">
            <%# 画像表示 %>
            <% if @user.picture? %>
                <%= image_tag @user.picture.url, class: "profile-pic w-100 m-5" %>
            <% else %>
                <%= image_tag gravatar_for(@user), class: "profile-pic w-100" %>
            <% end %>
        </div>
        <div class="col-12 col-md-6 bg-white text-center">
            <br>
            <%# name %>
            <h1 class="section-title mx-3 mt-3"><%= @user.name %></h1>
            <%# uni and year %>
            <% if @user.uni %>
            <p class=""><span><%= @user.uni %>大学</span>
                <% if @user.year? %>
                    <span><%= @user.year %>年生</span>
                <% end %>
            </p>
            <% end %>
            <% if @user.description? %>
                <p class="text-center profile-p orange px-5 pb-5 pt-3"><%= @user.description %></p><br>
            <% else %>
                <h5 class="text-center orange p-5">情報がありません。</h5>
            <% end %>
            <% if logged_in? %>
                <% if current_user.id == @user.id %>
                    <%# edit botton %>
                    <%= link_to "編集", edit_user_path, class: "btn btn-outline-dark bg-color py-0 text-center prof-button" %>
                <% end %>
            <% end %>
        </div>
    </div>
</section>
