<section class="admin-home container text-center pt-5">
    <h1 class="mb-5 pt-5 title text-white">BOFBOF<br>YouTube企画</h1>
    <div class="mt-3">
        <div class="ml-5 pl-5">
            <%= image_tag "teacher1.png", class:"w-100 ml-5" %><br>
        </div>
        <div class="content text-center font-weight-bold">
            <p  class="mt-3 section-title mb-5 pb-5">
                <br><span class="text-white">ニュース ✖︎ 若者＝？？</span><br>
                普段ニュースを見ない若者世代に向けた<br>
                『あなた』と話題のニュースとの関連点を探る動画です<br>
                少しでも興味が湧いたらチャンス! <br>
                ワンクリックで動画にとぼう!
            </p>
        </div>
    </div>
    <div class="search-box pl-3 mx-5 mb-4" id="search">
        <%= search_form_for @q, url: videos_url(anchor: "search") do |f| %>
            <div class="row">
                <div class="col-5 col-md-4 mr-0 pr-0">
                    <%= f.search_field :title_or_content_cont, placeholder: "キーワードで検索", class: "form-control text-center" %>
                </div>
                <div class="col-2 col-md-1 ml-0 pl-0">
                    <%= f.submit "検索",　name: "", class: "btn btn-outline-dark bg-color ml-0" %>
                </div>
            </div>
        <% end %>
    </div>
    <div class="row mx-5">
        <% @videos.each do |video| %>
            <div class="col-6 col-md-4 px-3">
                <div class="bg-white p-4 mx-1">
                <%= link_to "#{video.link}", target: :_blank do %>
                    <%= image_tag video.picture.url, class:"w-100 hover" %><br>
                <% end %>
                <%= link_to "#{video.link}", class: "text-dark font-weight-bold", target: :_blank do %>
                    <%= video.title %><br>
                <% end %>
                <small class="text-dark"><%= video.content %></small>  
                </div>     
            </div>
        <% end %>
    </div>
    <div class="row">
        <div class="col-6 mx-auto px-auto mt-5">
            <div class="put-center"><%= will_paginate @users %></div>
        </div>
    </div>
</section>
