<div class="contact-form p-5  m-5">
    <%= form_for @contact do |f| %>
        <%= render "error_messages" %>
        <% if !current_user.nil? %>
            <%= f.hidden_field :user_id, value: current_user.id %>
        <% end %>
        
        <%= f.label :content, "質問を入力してください。" %>
        <%= f.text_area :content, class: "form-control" %><br>
            
        <%= f.label :email, "メールアドレスを入力してください。" %>
        <%= f.email_field :email, class: "form-control" %><br>

        <%= f.submit "送信する", class: "btn btn-outline-dark" %>
    <% end %>
</div>
