<section class="admin-post-index container text-center pt-5 mb-5">
    <h1 class="pt-5 mt-5 title">質問管理</h1>
    <div class="mt-5 mb-2 mx-5 px-5">
        <div class="card">
            <div class="card-header">
                <div class="row mx-1 text-center">
                    <div class="col-12 col-md-2">名前</div>
                    <div class="col-12 col-md-4">質問内容</div>
                    <div class="col-12 col-md-3">メールアドレス</div> 
                    <div class="col-6 col-md-2">時間</div>
                    <div class="col-6 col-md-1">返信</div>
                </div>
            </div>
            <div class="card-body">
                <% if !@contacts.any? %>
                    <h4 class="text-muted">まだ投稿がありません。</h4>
                <% else %>
                    <% @contacts.each do |c| %>
                        <div class="row mx-1 text-center">
                            <div class="col-12 col-md-2"><%= c.user.name %></div>
                            <div class="col-12 col-md-4"><%= c.content %></div>
                            <div class="col-12 col-md-3"><%= c.email %></div> 
                            <div class="col-6 col-md-2">
                                <small class="text-muted"><%= time_ago_in_words(c.created_at) %> 前</small>
                            </div>
                            <div class="col-6 col-md-1">
                                <% if c.have_replied == false || c.have_replied.nil? %>
                                    <%= button_to admin_contacts_update_path(contact_id: c.id), method: :patch do %>
                                        <span class="text-muted"><i class="fas fa-check"></i></span>
                                    <% end %>
                                <% else %>
                                    <%= button_to admin_contacts_update_path(contact_id: c.id), method: :patch do %>
                                        <span class="text-success"><i class="fas fa-check"></i></span>
                                    <% end %>
                                <% end %>
                            </div> 
                        </div>
                        <hr>
                    <% end %>
                <% end %>
            </div>
        </div>
    </div>
</section>
