<section class="admin-post-index container text-center pt-5 mb-5">
    <h1 class="pt-5 title">投稿編集</h1>
    <div class="card mt-5 mx-5">
        <div class="card-header py-1">
        
        </div>
        <div class="card-body mb-3">
            <%= render "admin/posts/post_form" %>
            <hr>
            <%= render "admin/posts/topic_form" %>
            <hr>
            <div class="mr-5 text-right">
                <% if @post.is_active == false %>
                    <%= link_to "投稿を載せる", publicate_admin_post_path(@post), method: :patch, class: "btn btn-outline-dark bg-color put-center mt-4" %>
                <% else %>
                    <%= link_to "投稿を隠す", withdraw_admin_post_path(@post), method: :patch, class: "btn btn-outline-dark put-center mt-4" %>
                <% end %>
            </div>
        </div>
    </div>
    <div class="card card-body mx-5 mt-4">
        <%= render "admin/posts/comment_section" %>
    </div>
</section>
