<%= form_for([:admin, @video]) do |f| %>
    <div class="row mx-5 my-3">
        <div class="col-6 my-auto">
            <%= f.label :picture, "動画のサムネの画像" %>
            <%= f.file_field :picture, class: "form-control mb-4", require: true %>
            <%= f.label :title, "タイトル" %>
            <%= f.text_field :title, placeholder: "YouTube動画のタイトル", class: "form-control", required: true %>
        </div>
        <div class="col-6 my-auto">
            <%= f.label :link, "動画のURL" %>
            <%= f.text_field :link, class: "form-control mb-4", require: true %>
            <%= f.label :content, "概要・メモ" %>
            <%= f.text_area :content, class: "form-control" %>
        </div>
        <%= f.submit "保存する", class: "btn btn-outline-dark bg-color put-center mt-4" %>
    </div>
<% end %>
