<%= form_for([:admin, @notice]) do |n| %>
    <div class="row mx-5">
        <div class="col-6 my-auto">
            <%= n.label :title, "タイトル" %>
            <%= n.text_field :title, placeholder: "例: 11月の説明会のお知らせ", class: "form-control", required: true %>
        </div>
        <div class="col-6 my-auto">
            <%= n.label :content, "今月は土曜日・日曜日に説明会を開催します。リンクはこちら＜...＞" %>
            <%= n.text_area :content, class: "form-control" %>
        </div>
        <%= n.submit "保存する", class: "btn btn-outline-dark bg-color put-center mt-4" %>
    </div>
<% end %>
