<section class="admin-post-index container text-center pt-5 mb-5">
    <h1 class="pt-5 title">お知らせリスト</h1>
    <div class="row mx-3">
        <div class="col-12 col-md-4 mt-5 mb-2 px-5">
            <div class="row justify-content-center">
                <div class="col-4 px-0">
                    <%= link_to "すべて", admin_notices_path(notice_filter: "all"), class:"btn btn-block #{post_btn_color("all")}" %>
                </div>
                <div class="col-4 px-0">
                    <%= link_to "掲載済み", admin_notices_path(notice_filter: "published"), class:"btn btn-block #{post_btn_color("published")}" %>
                </div>
                <div class="col-4 px-0">
                    <%= link_to "編集中", admin_notices_path(notice_filter: "unpublished"), class:"btn btn-block #{post_btn_color("unpublished")}" %>
                </div>
            </div>
        </div>
    </div>
    <div class="card mx-5">
        <div class="card-header py-1">
            <div class="row">
                <div class="col-4 col-md-3 text-right ml-auto">
                    <%= link_to "新規", new_admin_notice_path, class: "btn btn-outline-dark py-1 bg-color mb-1" %>
                </div>
            </div>
            <div class="row">
                <div class="col-3 col-md-2 my-auto text-left pl-4">ステータス</div>
                <div class="col-2 col-md-2 my-auto">タイトル</div>
                <div class="col-3 col-md-3 my-auto">内容</div>
                <div class="col-3 col-md-5 my-auto">zoomなどのリンク</div>
            </div>
        </div>
        <div class="card-body">   
            <% if !@notices.any? %>
                <h4 class="text-muted">まだ投稿がありません。</h4>
            <% else %>
                <% @notices.each do |notice| %>
                    <div class="row py-0">
                        <div class="col-12 col-md-2 my-auto">
                            <% if notice.to_show == true %>
                                <span class="orange">掲載済み</span>
                            <% else %>
                                <span class="text-muted">編集中...</span>
                            <% end %>
                        </div>
                        <div class="col-2 col-md-2 my-auto">
                            <%= notice.title %>
                        </div>
                        <div class="col-3 col-md-3 my-auto">
                            <%= notice.content %>
                        </div>
                        <%= link_to "#{notice.link}", class: "col-7 col-md-5 text-dark font-weight-bold", target: :_blank do %>
                            <%= notice.link %><br>
                        <% end %>
                        <div class="col-6 col-md-4 ml-auto my-auto">
                            <div class="row pt-2">
                                <div class="col-6">
                                    <%= link_to "編集", edit_admin_notice_path(notice), class: "btn btn-outline-dark bg-color py-0 btn-block" %>
                                </div>
                                <div class="col-6">
                                    <%= button_to "削除", admin_notice_path(notice), method: :delete, data: {confirm: "本当にこの投稿を削除しますか?"}, class: "btn btn-outline-dark py-0 btn-block" %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                <% end %>
            <% end %>

        </div>
    </div>
    <div class="row">
        <div class="col-6 mx-auto px-auto mt-5">
            <div class="put-center">
                <%= will_paginate @posts %>
            </div>
        </div>
    </div>
</section>
