<section class="position-relative">
    <div class="logo-section">
        <%= link_to root_path do %>
            <%= image_tag "BOFBOF_LOGO.png", class:"logo" %>
        <% end %>
    </div>
    <div class="sns-wapper">
        <div class="sns-button b1">
            <div class="icon">
                <%= link_to "https://www.instagram.com/bofbof_net/?hl=en", target: :_blank, class: "text-dark" do %>
                    <i class="fab fa-instagram"></i>
                <% end %>
            </div>
            <span>Instagram</span>
        </div><br>
        <div class="sns-button b2">
            <div class="icon">
                <%= link_to "https://discord.gg/5N5HpEDr", target: :_blank, class: "text-dark" do %>
                    <i class="fab fa-discord"></i>
                <% end %>
            </div>
            <span>Discord</span>
        </div><br>
        <div class="sns-button b3">
            <div class="icon">
                <%= link_to "https://www.youtube.com/channel/UCSmbxJi_wgyFNr2X4Z5YIcw", target: :_blank, class: "text-dark" do %>
                    <i class="fab fa-youtube"></i>
                <% end %>
            </div>
            <span>YouTube</span>
        </div><br>
        <div class="sns-button b4">
            <div class="icon">
                <%= link_to "https://twitter.com/bofbofnet", target: :_blank, class: "text-dark" do %>
                    <i class="fab fa-twitter"></i>
                <% end %>
            </div>
            <span>Twitter</span>
        </div>
    </div>
    <div class="menu-wrap">
        <input type="checkbox" class="toggler">
        <div class="hamburger"><div></div></div>
        <div class="menu font-weight-bold">
            <div class="row">
                <div class="col-6 text-right">
                    <ul>
                        <li><%= link_to "投稿を見る", root_path, class:"cool-link" %></li>
                        <li><%= link_to "YouTubeをチェックする", root_path, class:"cool-link" %></li>
                        <li><%= link_to "メンバー紹介", root_path, class:"cool-link" %></li>
                        <li><%= link_to "ボフボフネットについて", about_path, class:"cool-link" %></li>
                        <li><%= link_to "説明会について", root_path, class:"cool-link" %></li>
                    </ul>
                </div>
                <div class="col-6 text-left">
                    <ul>
                        <% if logged_in? %>
                            <li><span class="orange"><i class="fas fa-exclamation-circle"></i>現在ログイン中</span></li>
                            <li><%= link_to "プロフィール", root_path, class:"cool-link" %><br></li>
                            <%if current_user.is_admin == true %>
                                <li><%= link_to "管理メンバーページ", admin_pages_home_path, class:"cool-link" %><br></li>
                            <% end %>
                            <li><%= link_to "ログアウト", session_path(current_user), method: :delete, class:"cool-link" %></li>
                        <% else %>
                            <li><%= link_to "サインイン", new_user_path, class:"cool-link" %><br></li>
                            <li><%= link_to "ログイン", new_session_path, class:"cool-link" %></li>
                        <% end %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
