<!DOCTYPE html>
<html>
  <head>
    <title>BofbofNet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/hot-sneaks/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
  </head>

  <body>
  
    <%= render "layouts/header" %>

    <% if flash.any? %>
      <script type="text/javascript">
          <% flash.each do |type, value| %>
              toastr['<%= type %>']('<%= value %>')
          <% end %>
      </script>
    <% end %>

    <%= yield %>
    <br>
    <%= render "layouts/footer" %>
  </body>
</html>
